@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 2%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}
body{
    height: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #adadaf;
}
.container{
    position: relative;
    max-width: 300px;
    width: 100%;
    border-radius: 16px;
    padding: 80px 20px 20px;
    background: #1f1f1f;
    box-shadow: 0px 6px 20px rgb(233 88 44 / 50%);
}


.display{
    height: 100px;
    width: 100%;
    outline: none;
    border: none;
    text-align: right;
    margin-bottom: 16px;
    font-size: 1.5rem;
    color: #f8f6f6;
    position: inherit;
}
.buttons{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4,1fr);
}


.buttons button{
    padding: 12px;
    border-radius: 16px;
    border: none;
    font-size: 18px;
    cursor: pointer;
}
.buttons button.angka{
    background-color: #474343;
    color: #ffffff;
}
.buttons button.tombol{
    background-color: #939090;
    color: #ffffff;
}
.buttons button:active{
    transform: scale(0.99);
}
.operator{
    color: #ffffff;
    background-color: #fa5300;
}